@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
*{font-family: "Barlow Semi Condensed",sans-serif;}
body{background-image: radial-gradient(circle at center, hsl(214, 47%, 23%),hsl(237, 49%, 15%));}


/* top banner shows heading and score */
#banner{border: 3.5px solid hsl(217, 16%, 45%);border-radius: 5px;display: flex;flex-direction: row;}
#banner img{color: #ffff;}
#score{border-radius:5px;background-color: #ffff;color: hsl(229, 25%, 31%);text-align: center;}
#score p{color: hsl(229, 64%, 46%);}
#score h2{font-size: 32px;margin: 0%;}


/* display container is in middle ; shows all the icons(choices) */
#background-pentagon{position: absolute;z-index: -1;}
#icon-container button img{width: 60%;height: 60%;}

/* icons */
#rock{position: absolute;border-radius: 50%;}
#paper{position: absolute;border-radius: 50%;}
#scissors{position: absolute;border-radius: 50%;}
#lizard{position: absolute;border-radius: 50%;}
#spock{position: absolute;border-radius: 50%;}

/* chosen container is the next state showing the user choice & the computer choice in th middle of the screen */
#chosen-container{display: none;flex-direction: column;}
#player-div{border-radius: 50%;width: 140px;background-color: #fff;}
#computer-div{display: none;border-radius: 50%;background-color: #fff;}
#sub-heading{color: #fff;}
.result-display-container{display: none;text-align: center;color: #fff;}
#play-again{background-color: #fff;color:hsl(229, 25%, 31%);border: 0ch;border-radius: 10px;height: 7vh;}
#restart{background-color: #800000;color: #fff;border: 0ch;border-radius: 10px;;height: 7vh;margin-top: 4%;}

/* rules modal */
#rules{border: 2px solid #fff; border-radius: 5px;font-size: 18px;outline: 0ch;background-color: transparent;color: #fff;height:5vh;cursor: pointer;}
#rulesModalLabel {text-align: center;}
.modal-body{width: 100%;}
.modal-body img{width: 95%;margin-top: 10%;}
.modal-footer button{width: 100%;font-size: 24px;background-color: transparent;border: none;color:hsl(229, 25%, 31%);outline: 0ch;}





/*-------------- mobile devices-------------------- */
@media screen and (max-width:500px) {
    /* top banner shows heading and score */
    #banner{margin-top: 10%;width: 90%;margin-left: 5%;}
    #banner img{margin-left: 5%;width: 30%;height:30%;margin-bottom: 0%;margin-top: 0.5rem;}
    #score{border-radius:5px;width: 25%;margin-left: 35%;margin-top: 1rem;margin-bottom: 0.6rem;}
    #score p{margin-bottom: 0%;margin-top: 0.5rem;}
    #score h2{font-size: 32px;margin: 0%;}

    /* display container is in middle ; shows all the icons(choices) */
    .display-container{margin-top: 30%;}
    #icon-container{margin-top: 30%;}
    #background-pentagon{width: 80%;height: 40%;left: 10%;top: 40%;}
    

    /* icons */
    #rock{top: 35%;left: 35%;border:8px solid   hsl(349, 71%, 52%);width: 90px;height: 85px;box-shadow: 1.5px 3px hsl(349, 70%, 56%);}
    #paper{top: 50%;left: 68%;width: 90px;height:85px;border: 8px solid  hsl(230, 89%, 62%);box-shadow: 1.5px 3px hsl(230, 89%, 65%);}
    #scissors{top: 72%;left: 60%;width: 90px;height: 85px;border: 8px solid  hsl(39, 89%, 49%);box-shadow: 1.5px 3px hsl(40, 84%, 53%)}
    #lizard{top: 72%;left: 15%;width: 90px;height: 85px;border: 8px solid hsl(261, 73%, 60%);box-shadow: 1.5px 3px hsl(261, 72%, 63%);}
    #spock{top: 50%;left: 5%;width: 90px;height: 85px;border: 8px solid  hsl(189, 59%, 53%);box-shadow: 1.5px 3px hsl(189, 58%, 57%);}
    
    /* chosen container is the next state showing the user choice & the computer choice in th middle of the screen */
    #chosen-container{display: none;flex-direction: column;}
    #display-icons{width: 95w;margin-left: 2.5%;margin-right: 2.5%;display: flex;flex-direction: row;justify-content: space-between;}
    #player-div{border: 15px solid;width: 140px;height: 140px;}
    #computer-div{display: none;border: 15px solid ;width: 140px;height: 140px;}
    #player,#computer{margin-left: 30%;margin-top: 30%;}
    #sub-heading{display: flex;flex-direction: row;justify-content: space-between;width: 90%;}
    #sub-heading p{margin-top: 1.5rem;margin-left: 1.5rem;}
    .result-display-container{width: 100vw;margin-top: 20%;display: none;text-align: center;flex-direction: column;}
    .result-display-container h1{font-size: 42px;}
    #play-again,#restart{width: 60vw;margin-left: 20%;}
    
    /* rules modal */
    #rules{margin-top: 120%; margin-left: 30%;font-size: 18px;width: 40vw;height:5vh;}
    #rulesModalLabel {text-align: center;margin-left: 35%;}
    #close-button-modal{display: none;}
    .modal-body{width: 100%;}
    .modal-body img{width: 95%;margin-top: 10%;}
    .modal-footer button{width: 100%;font-size: 24px;border: none;outline: 0ch;}
}




/*----------------Tablets------------- */
@media screen and  (min-width:500px) and (max-width:1000px) {
     /* top banner shows heading and score */
    #banner{margin-top: 5%;width: 90%;margin-left: 5%;}
    #banner img{margin-left: 5%;width: 15%;height:15%;margin-bottom: 0.5rem;margin-top: 1rem;}
    #score{border-radius:5px;width: 25%;margin-left: 52%;margin-top: 1rem;margin-bottom: 0.6rem;}
    #score p{margin-bottom: 0%;margin-top: 0.5rem;}
    #score h2{font-size: 42px;margin-top: 10%;}

    /* display container in middle shows all icons */
    .display-container{margin-top: 30%;}
    #icon-container{margin-top: 30%;}
    #background-pentagon{width: 400px;height: 300px;left: 25%;top: 40%;}

     /* icons */
     #rock{top: 35%;left: 42%;border:12px solid   hsl(349, 71%, 52%);width: 140px;height: 115px;box-shadow: 3px 3px hsl(349, 70%, 56%);}
     #paper{top: 50%;left: 64%;width: 140px;height: 115px;border: 12px solid  hsl(230, 89%, 62%);box-shadow: 3px 3px hsl(230, 89%, 65%);}
     #scissors{top: 72%;left: 57%;width: 140px;height: 115px;border: 12px solid  hsl(39, 89%, 49%);box-shadow: 3px 3px hsl(40, 84%, 53%);}
     #lizard{top: 72%;left: 27%;width: 140px;height: 115px;border: 12px solid hsl(261, 73%, 60%);box-shadow: 3px 3px hsl(261, 72%, 63%);}
     #spock{top: 50%;left: 20%;width: 140px;height: 115px;border: 12px solid  hsl(189, 59%, 53%);box-shadow: 3px 3px hsl(189, 58%, 57%);}

    
    /* chosen container is the next state showing the user choice & the computer choice in th middle of the screen */
    #chosen-container{display: none;flex-direction: column;}
    #display-icons{width: 95w;margin-left: 2.5%;margin-right: 2.5%;display: flex;flex-direction: row;justify-content: space-around;}
    #player-div{border: 25px solid;border-radius: 50%;width: 240px;height: 240px;}
    #computer-div{display: none;border: 25px solid ;border-radius: 50%;width: 240px;height: 240px;}
    #player,#computer{margin-left: 30%;margin-top: 30%;width: 50%;height: 50%;}
    #sub-heading{display: flex;flex-direction: row;justify-content: space-around;width: 90%;}
    #sub-heading p{margin-top: 1.5rem;margin-left: 1.5rem;}
    .result-display-container{display: none;text-align: center;flex-direction: column;}
    .result-display-container h1{font-size: 52px;margin-left: 5%;}
    #play-again,#restart{width: 25vw;margin-left: 40%;}
    
    
     /* rules modal */
    #rules{margin-top: 30%; margin-left: 75%;font-size: 18px;width: 20vw;height:5vh;cursor: pointer;}
    .modal-content{width: 60vw;}
    .modal-body{width: 100%;}
    #close-button-modal{margin-top: 0.4%}
    .modal-body img{width: 95%;margin-top: 10%;}
    .modal-footer button{display: none;}
}


/*---------------------laptops-------------------*/
@media screen and (width:1024px) {
     /* top banner shows heading and score */
     #banner{border-radius: 10px;margin-top: 5%;width: 60%;margin-left: 20%;}
     #banner img{margin-left: 5%;width: 15%;height:15%;margin-bottom: 0.5rem;margin-top: 1rem;}
     #score{border-radius:5px;width: 25%;margin-left: 52%;margin-top: 1rem;margin-bottom: 0.6rem;}
     #score p{margin-bottom: 0%;margin-top: 0.5rem;}
     #score h2{font-size: 52px;margin-top: 10%;}
 
     /* display container in middle shows all icons */
     .display-container{margin-top: 8%;}
     #icon-container{margin-top: 30%;}
     #background-pentagon{width: 400px;height: 300px;position: absolute;z-index: -1;left: 35%;top: 45%;}
     
 
      /* icons */
      #rock{top: 38%;left: 46%;border:12px solid   hsl(349, 71%, 52%);width: 140px;height: 115px;box-shadow: 3px 3px hsl(349, 70%, 56%);cursor: pointer;}
      #paper{top: 54%;left: 62%;width: 140px;height: 115px;border: 12px solid  hsl(230, 89%, 62%);box-shadow: 3px 3px hsl(230, 89%, 65%);cursor: pointer;}
      #scissors{top: 72%;left: 59%;width: 140px;height: 115px;border: 12px solid  hsl(39, 89%, 49%);border-radius: 50%;box-shadow: 3px 3px hsl(40, 84%, 53%);cursor: pointer;}
      #lizard{top: 72%;left: 35%;width: 140px;height: 115px;border: 12px solid hsl(261, 73%, 60%);box-shadow: 3px 3px hsl(261, 72%, 63%);cursor: pointer;}
      #spock{top: 54%;left: 32%;width: 140px;height: 115px;border: 12px solid  hsl(189, 59%, 53%);box-shadow: 3px 3px hsl(189, 58%, 57%);cursor: pointer;}
 
     
     /* chosen container is the next state showing the user choice & the computer choice in th middle of the screen */
     #chosen-container{display: none;flex-direction: column;}
     #display-icons{width: 95w;margin-left: 2.5%;margin-right: 2.5%;display: flex;flex-direction: row;justify-content: space-around;}
     #player-div{border: 25px solid;width: 240px;height: 240px;}
     #computer-div{display: none;border: 25px solid ;width: 240px;height: 240px;}
     #player,#computer{margin-left: 30%;margin-top: 30%;width: 50%;height: 50%;}
     #sub-heading{display: flex;flex-direction: row;justify-content: space-around;width: 90%;}
     #sub-heading p{margin-top: 1.5rem;margin-left: 1.5rem;}
     .result-display-container{display: none;text-align: center;flex-direction: column;}
     .result-display-container h1{font-size: 52px;}
     #play-again,#restart{width: 25vw;margin-left: 40%;cursor: pointer;}
     
     
      /* rules modal */
     #rules{margin-top: 25%; margin-left: 89%;font-size: 18px;width: 10vw;height:5vh;cursor: pointer;}
     .modal-content{width: 40vw;}
     .modal-body{width: 100%;}
     #close-button-modal{margin-top: 0.4%}
     .modal-body img{width: 95%;margin-top: 10%;}
     .modal-footer button{display: none;}
}


/*---------------large laptops--------------*/
@media screen and (min-width:1440px)  {
     /* top banner shows heading and score */
     #banner{border-radius: 10px;margin-top: 5%;width: 60%;margin-left: 20%;}
     #banner img{margin-left: 5%;width: 15%;height:15%;margin-bottom: 0.5rem;margin-top: 1rem;}
     #score{border-radius:5px;width: 25%;margin-left: 52%;margin-top: 1rem;margin-bottom: 0.6rem;}
     #score p{margin-bottom: 0%;margin-top: 0.5rem;}
     #score h2{font-size: 52px;margin-top: 10%;}
 
     /* display container in middle shows all icons */
     .display-container{margin-top: 8%;}
     #icon-container{margin-top: 30%;}
     #background-pentagon{width: 400px;height: 300px;left: 35%;top: 45%;}
     
 
      /* icons */
      #rock{top: 40%;left: 42%;border:12px solid   hsl(349, 71%, 52%);width: 140px;height: 115px;box-shadow: 3px 3px hsl(349, 70%, 56%);cursor: pointer;}
      #paper{top: 54%;left: 54%;width: 140px;height: 115px;border: 12px solid  hsl(230, 89%, 62%);box-shadow: 3px 3px hsl(230, 89%, 65%);cursor: pointer;}
      #scissors{top: 75%;left: 52%;width: 140px;height: 115px;border: 12px solid  hsl(39, 89%, 49%);box-shadow: 3px 3px hsl(40, 84%, 53%);cursor: pointer;}
      #lizard{top: 75%;left: 35%;width: 140px;height: 115px;border: 12px solid hsl(261, 73%, 60%);box-shadow: 3px 3px hsl(261, 72%, 63%);cursor: pointer;}
      #spock{top: 54%;left: 32%;width: 140px;height: 115px;border: 12px solid  hsl(189, 59%, 53%);box-shadow: 3px 3px hsl(189, 58%, 57%);cursor: pointer;}
 
     
     /* chosen container is the next state showing the user choice & the computer choice in th middle of the screen */
     #chosen-container{display: none;flex-direction: column;}
     #display-icons{width: 95w;margin-left: 2.5%;margin-right: 2.5%;display: flex;flex-direction: row;justify-content: space-around;}
     #player-div{border: 25px solid;width: 240px;height: 240px;}
     #computer-div{display: none;border: 25px solid ;width: 240px;height: 240px;}
     #player,#computer{margin-left: 30%;margin-top: 30%;width: 50%;height: 50%;}
     #sub-heading{display: flex;flex-direction: row;justify-content: space-around;width: 90%;}
     #sub-heading p{margin-top: 1.5rem;margin-left: 1.5rem;}
     .result-display-container{display: none;text-align: center;flex-direction: column;}
     .result-display-container h1{font-size: 52px;}
     #play-again,#restart{width: 25vw;margin-left: 40%;cursor: pointer;}
     
     
      /* rules modal */
     #rules{margin-top: 2%; border-radius: 5px;margin-left: 75%;font-size: 18px;width: 10vw;height:5vh;cursor: pointer;}
     .modal-content{width: 30vw;}
     .modal-body{width: 100%;}
     #close-button-modal{margin-top: 0.4%}
     .modal-body img{width: 95%;margin-top: 10%;}
     .modal-footer button{display: none;}
}
    
